<ion-header no-border>
  <ion-toolbar>
    <ion-title>Choose your therapy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <div class='section'>
    <ion-grid>
      <ion-row>
        <ion-col size='auto'  class="ion-align-items-center">
            <img src="assets/images/richcontent.png" class="image">
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <span class='title'>Self-guidance</span>
              </ion-col>
              <ion-col>
                <span class="subtitle ion-float-right">from 69 Euro/M</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span class='subtitle ion-float-left'>Video, audio and other materials which can be used for self-guidance</span>              
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>    
</div>
<div class='section'>
  <ion-grid>
    <ion-row>
      <ion-col size='auto'  class="ion-align-items-center">
          <img src="assets/images/peergroups.png" class="image">
      </ion-col>
      <ion-col>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <span class='title'>Peer groups</span>
            </ion-col>
            <ion-col>
              <span class="subtitle ion-float-right">from 19 Euro/H</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span class='subtitle ion-float-left'>Join the small group of people (up to 4) guided by the trained psychologist</span>              
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>    
</div>
<div class='section' (click)='one2one()'>
  <ion-grid>
    <ion-row>
      <ion-col size='auto' class="ion-align-self-center">
          <img src="assets/images/1to1.png" class="image">
      </ion-col>
      <ion-col>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <span class='title'>One-to-one</span>
            </ion-col>
            <ion-col>
              <span class="subtitle ion-float-right">from 49 Euro/H</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span class='subtitle ion-float-left'>Video or audio session with the certified psychologist</span>              
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>    
</div>
<ion-content>
